/bin
/build
/build-test
/out
/dist
/api
/lib/AppleJavaExtensions.jar
/innosetup/setup.iss
/dmg/appdmg.json
/dmg/.DS_Store
/create-dmg
/MANIFEST.MF
.gradle
.classpath
.DS_Store
/debian/keystore-explorer.substvars
/debian/files
/debian/debhelper-build-stamp
/debian/.debhelper/
/debian/keystore-explorer/
